# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/built

# local env files
.env.*

# npm
.npmrc
globalConfig.json
